<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="../../../public/css/tw.css">
    <link rel="stylesheet" href="../../../public/css/app.css">
    <script src="../../../public/js/app.js" defer></script>
</head>

<body>
<div class="m-12">
<!--    <div class="flex justify-between text-2x">-->
<!--        <div class="w-16 w-16 rounded-md bg-black text-white text-xs flex-col justify-center text-center p-1">-->
<!--            <span class="font-semibold text-green-300 justify-start float-left">1</span>-->
<!--            <span class="font-bold text-yellow-400 text-lg">H</span>-->
<!--            <span class="font-semibold">Hydrogen</span>-->
<!--            <span class="font-semibold text-pink-300">2.0</span>-->
<!--        </div>-->
<!--        <div class="w-16 w-16 rounded-md bg-black text-white text-xs flex-col justify-center text-center p-1">-->
<!--            <span class="font-semibold text-green-300 justify-start float-left">1</span>-->
<!--            <span class="font-bold text-yellow-400 text-lg">Hi</span>-->
<!--            <span class="font-semibold">Hilium</span>-->
<!--            <span class="font-semibold text-pink-300">2.0</span>-->
<!--        </div>-->
<!--    </div>-->
    <div class="grid grid-cols-18 grid-rows-3  text-2x mt-2 ">
        <div class="w-16 w-16 rounded-md bg-black text-white text-xs flex-col justify-center text-center p-1">
            <span class="font-semibold text-green-300 justify-start float-left">1</span>
            <span class="font-bold text-yellow-400 text-lg">H</span>
            <span class="font-semibold">Hydrogen</span>
            <span class="font-semibold text-pink-300">2.0</span>
        </div>
        <div class="w-16 w-16 rounded-md bg-black text-white text-xs flex-col justify-center text-center p-1">
            <span class="font-semibold text-green-300 justify-start float-left">1</span>
            <span class="font-bold text-yellow-400 text-lg">H</span>
            <span class="font-semibold">Hydrogen</span>
            <span class="font-semibold text-pink-300">2.0</span>
        </div>
        <div class="w-16 w-16 rounded-md bg-black text-white text-xs flex-col justify-center text-center p-1">
            <span class="font-semibold text-green-300 justify-start float-left">1</span>
            <span class="font-bold text-yellow-400 text-lg">H</span>
            <span class="font-semibold">Hydrogen</span>
            <span class="font-semibold text-pink-300">2.0</span>
        </div>
        <div class="w-16 w-16 rounded-md bg-black text-white text-xs flex-col justify-center text-center p-1">
            <span class="font-semibold text-green-300 justify-start float-left">1</span>
            <span class="font-bold text-yellow-400 text-lg">Hi</span>
            <span class="font-semibold">Hilium</span>
            <span class="font-semibold text-pink-300">2.0</span>
        </div>
    </div>
</div>
</body>
</html>
